.gc_row {
    margin-bottom: 10px;
}

.gform_tab_container label {
    font-weight: bold;
}

.gc_row .input {
    width: 50%;
}

.gfield_error {
    color: #790000;
    width: 50%;
}

.gc_row h2 {
    margin-top: 30px;
}
